<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div *ngFor="let customer of Customers" class="card" (click)="selectCustomer(customer)">
        <div class="card-body">
          <h5 class="card-title">{{ customer.first_name }} {{ customer.last_name }}</h5>
          <p class="card-text">{{ customer.conversation[0].text }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8" id="chatWindow" #chatWindow>
      <div >
        <ng-container *ngIf="selectedCustomer">
          <div *ngFor="let message of selectedCustomer.conversation">
            <div *ngIf="message.sender == selectedCustomer.psid" class="msg customer-msg">
              <img [src]="selectedCustomer.profile_pic" class="rounded" style="width: 10%" />
              <p>{{ message.text }}</p>
            </div>
            <div *ngIf="message.sender == 'AGENT'" class="msg agent-msg">
              <p>{{ message.text }}</p>
            </div>
          </div>

        </ng-container>
      </div>

      <div >
        <div class="input-group mb-3 message-box">
          <input type="text" [formControl]="messageBox" class="form-control" placeholder="Type message..." />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
